In [10]:
import pandas as pd
import numpy as np 

df = pd.read_csv("car_price_prediction.csv")
df

,Car ID,"Brand,Year,Engine Size,Fuel Type,Transmission",Mileage,Condition,Price,Model
0,1,"Tesla,2016,2.3,Petrol,Manual",114832,New,26613.92,Model X
1,2,"BMW,2018,4.4,Electric,Manual",143190,Used,14679.61,5 Series
2,3,"Audi,2013,4.5,Electric,Manual",181601,New,44402.61,A4
3,4,"Tesla,2011,4.1,Diesel,Automatic",68682,New,86374.33,Model Y
4,5,"Ford,2009,2.6,Diesel,Manual",223009,Like New,73577.10,Mustang
...,...,...,...,...,...,...
2495,2496,"Audi,2020,2.4,Petrol,Automatic",22650,Like New,61384.10,Q5
2496,2497,"Audi,2001,5.7,Hybrid,Manual",77701,Like New,24710.35,A3
2497,2498,"Ford,2021,1.1,Hybrid,Manual",272827,Like New,29902.45,Fiesta
2498,2499,"Audi,2002,4.5,Diesel,Manual",229164,Like New,46085.67,Q5
2499,2500,"Toyota,2005,4.6,Diesel,Automatic",80978,Used,16594.14,RAV4

In [11]:
df[['Brand', 'Year', 'Engine Size', 'Fuel Type', 'Transmission']] = df['Brand,Year,Engine Size,Fuel Type,Transmission'].str.split(
    r',\s*', expand=True)
df

,Car ID,"Brand,Year,Engine Size,Fuel Type,Transmission",Mileage,Condition,Price,Model,Brand,Year,Engine Size,Fuel Type,Transmission
0,1,"Tesla,2016,2.3,Petrol,Manual",114832,New,26613.92,Model X,Tesla,2016,2.3,Petrol,Manual
1,2,"BMW,2018,4.4,Electric,Manual",143190,Used,14679.61,5 Series,BMW,2018,4.4,Electric,Manual
2,3,"Audi,2013,4.5,Electric,Manual",181601,New,44402.61,A4,Audi,2013,4.5,Electric,Manual
3,4,"Tesla,2011,4.1,Diesel,Automatic",68682,New,86374.33,Model Y,Tesla,2011,4.1,Diesel,Automatic
4,5,"Ford,2009,2.6,Diesel,Manual",223009,Like New,73577.10,Mustang,Ford,2009,2.6,Diesel,Manual
...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,"Audi,2020,2.4,Petrol,Automatic",22650,Like New,61384.10,Q5,Audi,2020,2.4,Petrol,Automatic
2496,2497,"Audi,2001,5.7,Hybrid,Manual",77701,Like New,24710.35,A3,Audi,2001,5.7,Hybrid,Manual
2497,2498,"Ford,2021,1.1,Hybrid,Manual",272827,Like New,29902.45,Fiesta,Ford,2021,1.1,Hybrid,Manual
2498,2499,"Audi,2002,4.5,Diesel,Manual",229164,Like New,46085.67,Q5,Audi,2002,4.5,Diesel,Manual
2499,2500,"Toyota,2005,4.6,Diesel,Automatic",80978,Used,16594.14,RAV4,Toyota,2005,4.6,Diesel,Automatic

In [12]:
df.drop(columns=['Brand,Year,Engine Size,Fuel Type,Transmission'], inplace=True)
df

,Car ID,Mileage,Condition,Price,Model,Brand,Year,Engine Size,Fuel Type,Transmission
0,1,114832,New,26613.92,Model X,Tesla,2016,2.3,Petrol,Manual
1,2,143190,Used,14679.61,5 Series,BMW,2018,4.4,Electric,Manual
2,3,181601,New,44402.61,A4,Audi,2013,4.5,Electric,Manual
3,4,68682,New,86374.33,Model Y,Tesla,2011,4.1,Diesel,Automatic
4,5,223009,Like New,73577.10,Mustang,Ford,2009,2.6,Diesel,Manual
...,...,...,...,...,...,...,...,...,...,...
2495,2496,22650,Like New,61384.10,Q5,Audi,2020,2.4,Petrol,Automatic
2496,2497,77701,Like New,24710.35,A3,Audi,2001,5.7,Hybrid,Manual
2497,2498,272827,Like New,29902.45,Fiesta,Ford,2021,1.1,Hybrid,Manual
2498,2499,229164,Like New,46085.67,Q5,Audi,2002,4.5,Diesel,Manual
2499,2500,80978,Used,16594.14,RAV4,Toyota,2005,4.6,Diesel,Automatic

In [13]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ","_")
)
df

,car_id,mileage,condition,price,model,brand,year,engine_size,fuel_type,transmission
0,1,114832,New,26613.92,Model X,Tesla,2016,2.3,Petrol,Manual
1,2,143190,Used,14679.61,5 Series,BMW,2018,4.4,Electric,Manual
2,3,181601,New,44402.61,A4,Audi,2013,4.5,Electric,Manual
3,4,68682,New,86374.33,Model Y,Tesla,2011,4.1,Diesel,Automatic
4,5,223009,Like New,73577.10,Mustang,Ford,2009,2.6,Diesel,Manual
...,...,...,...,...,...,...,...,...,...,...
2495,2496,22650,Like New,61384.10,Q5,Audi,2020,2.4,Petrol,Automatic
2496,2497,77701,Like New,24710.35,A3,Audi,2001,5.7,Hybrid,Manual
2497,2498,272827,Like New,29902.45,Fiesta,Ford,2021,1.1,Hybrid,Manual
2498,2499,229164,Like New,46085.67,Q5,Audi,2002,4.5,Diesel,Manual
2499,2500,80978,Used,16594.14,RAV4,Toyota,2005,4.6,Diesel,Automatic

In [14]:
df.dtypes

car_id            int64
mileage           int64
condition        object
price           float64
model            object
brand            object
year             object
engine_size      object
fuel_type        object
transmission     object
dtype: object

In [16]:
df['year'] = df['year'].astype('int64')
df['engine_size'] = df['engine_size'].astype('float64')
df.dtypes

car_id            int64
mileage           int64
condition        object
price           float64
model            object
brand            object
year              int64
engine_size     float64
fuel_type        object
transmission     object
dtype: object

In [17]:
df.to_csv("Cleaned_Car_Prediction.csv", index=False)