In [6]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('Global_Sales_Messy_Data.csv', encoding='utf 8')
df

,Transaction_ID,Transaction_Date,Server_Timestamp,Store_Location,Sales_Amount,Currency
0,1000,03-09-2023,2023-09-03 02:00:00 +0000,ZÃ¼rich,257.52,EUR
1,1001,24-11-2023,2023-11-24 12:00:00 PST,SÃ£o Paulo,81.77,EUR
2,1002,21-06-2023,2023-06-21 05:00:00 +0000,Tokyo,326.06,USD
3,1003,13-11-2023,2023-11-13 16:00:00 EST,ZÃ¼rich,240.11,JPY
4,1004,28-07-2023,2023-07-28 06:00:00 +0530,MontrÃ©al,169.07,USD
...,...,...,...,...,...,...
995,1995,01-11-2023,01-11-2023 04:00,SÃ£o Paulo,120.65,EUR
996,1996,05/28/2023,2023-05-28 00:00:00 UTC,ZÃ¼rich,83.28,USD
997,1997,31-10-2023,2023-10-31 15:00:00 EST,MÃ¼nchen,100.28,EUR
998,1998,20-02-2023,2023-02-20 14:00:00 PST,ZÃ¼rich,389.86,GBP
999,1999,11-01-2023,2023-01-11 01:00:00 UTC,London,332.85,EUR

In [7]:
df.dtypes

Transaction_ID        int64
Transaction_Date     object
Server_Timestamp     object
Store_Location       object
Sales_Amount        float64
Currency             object
dtype: object

In [8]:
df['Transaction_Date'] = pd.to_datetime(df['Transaction_Date'], format='mixed')
df

,Transaction_ID,Transaction_Date,Server_Timestamp,Store_Location,Sales_Amount,Currency
0,1000,2023-03-09,2023-09-03 02:00:00 +0000,ZÃ¼rich,257.52,EUR
1,1001,2023-11-24,2023-11-24 12:00:00 PST,SÃ£o Paulo,81.77,EUR
2,1002,2023-06-21,2023-06-21 05:00:00 +0000,Tokyo,326.06,USD
3,1003,2023-11-13,2023-11-13 16:00:00 EST,ZÃ¼rich,240.11,JPY
4,1004,2023-07-28,2023-07-28 06:00:00 +0530,MontrÃ©al,169.07,USD
...,...,...,...,...,...,...
995,1995,2023-01-11,01-11-2023 04:00,SÃ£o Paulo,120.65,EUR
996,1996,2023-05-28,2023-05-28 00:00:00 UTC,ZÃ¼rich,83.28,USD
997,1997,2023-10-31,2023-10-31 15:00:00 EST,MÃ¼nchen,100.28,EUR
998,1998,2023-02-20,2023-02-20 14:00:00 PST,ZÃ¼rich,389.86,GBP
999,1999,2023-11-01,2023-01-11 01:00:00 UTC,London,332.85,EUR

In [21]:
from datetime import datetime
df['Server_Timestamp'] = pd.to_datetime(df['Server_Timestamp'],format='mixed', utc=True)
df

,Transaction_ID,Transaction_Date,Server_Timestamp,Store_Location,Sales_Amount,Currency
0,1000,2023-03-09,2023-09-03 02:00:00+00:00,ZÃ¼rich,257.52,EUR
1,1001,2023-11-24,2023-11-24 12:00:00+00:00,SÃ£o Paulo,81.77,EUR
2,1002,2023-06-21,2023-06-21 05:00:00+00:00,Tokyo,326.06,USD
3,1003,2023-11-13,2023-11-13 16:00:00+00:00,ZÃ¼rich,240.11,JPY
4,1004,2023-07-28,2023-07-28 00:30:00+00:00,MontrÃ©al,169.07,USD
...,...,...,...,...,...,...
995,1995,2023-01-11,2023-01-11 04:00:00+00:00,SÃ£o Paulo,120.65,EUR
996,1996,2023-05-28,2023-05-28 00:00:00+00:00,ZÃ¼rich,83.28,USD
997,1997,2023-10-31,2023-10-31 15:00:00+00:00,MÃ¼nchen,100.28,EUR
998,1998,2023-02-20,2023-02-20 14:00:00+00:00,ZÃ¼rich,389.86,GBP
999,1999,2023-11-01,2023-01-11 01:00:00+00:00,London,332.85,EUR

In [22]:
df['Server_Timestamp'] = df['Server_Timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S') + ' UTC'
df

,Transaction_ID,Transaction_Date,Server_Timestamp,Store_Location,Sales_Amount,Currency
0,1000,2023-03-09,2023-09-03 02:00:00 UTC,ZÃ¼rich,257.52,EUR
1,1001,2023-11-24,2023-11-24 12:00:00 UTC,SÃ£o Paulo,81.77,EUR
2,1002,2023-06-21,2023-06-21 05:00:00 UTC,Tokyo,326.06,USD
3,1003,2023-11-13,2023-11-13 16:00:00 UTC,ZÃ¼rich,240.11,JPY
4,1004,2023-07-28,2023-07-28 00:30:00 UTC,MontrÃ©al,169.07,USD
...,...,...,...,...,...,...
995,1995,2023-01-11,2023-01-11 04:00:00 UTC,SÃ£o Paulo,120.65,EUR
996,1996,2023-05-28,2023-05-28 00:00:00 UTC,ZÃ¼rich,83.28,USD
997,1997,2023-10-31,2023-10-31 15:00:00 UTC,MÃ¼nchen,100.28,EUR
998,1998,2023-02-20,2023-02-20 14:00:00 UTC,ZÃ¼rich,389.86,GBP
999,1999,2023-11-01,2023-01-11 01:00:00 UTC,London,332.85,EUR

In [28]:
%pip install ftfy
import ftfy
df['Store_Location'] = df['Store_Location'].apply(ftfy.fix_text)
df = df.apply(lambda col: col.apply(ftfy.fix_text) if col.dtype == 'object' else col)
df

,Transaction_ID,Transaction_Date,Server_Timestamp,Store_Location,Sales_Amount,Currency
0,1000,2023-03-09,2023-09-03 02:00:00 UTC,Zürich,257.52,EUR
1,1001,2023-11-24,2023-11-24 12:00:00 UTC,São Paulo,81.77,EUR
2,1002,2023-06-21,2023-06-21 05:00:00 UTC,Tokyo,326.06,USD
3,1003,2023-11-13,2023-11-13 16:00:00 UTC,Zürich,240.11,JPY
4,1004,2023-07-28,2023-07-28 00:30:00 UTC,Montréal,169.07,USD
...,...,...,...,...,...,...
995,1995,2023-01-11,2023-01-11 04:00:00 UTC,São Paulo,120.65,EUR
996,1996,2023-05-28,2023-05-28 00:00:00 UTC,Zürich,83.28,USD
997,1997,2023-10-31,2023-10-31 15:00:00 UTC,München,100.28,EUR
998,1998,2023-02-20,2023-02-20 14:00:00 UTC,Zürich,389.86,GBP
999,1999,2023-11-01,2023-01-11 01:00:00 UTC,London,332.85,EUR

In [37]:
%pip install pandas openpyxl
df.to_excel('cleaned_global_sales.xlsx', index=False)